@using System.Security.Claims
@using Estoque.Domain.Entities
@using Estoque.Infrastructure.Utils
@using Microsoft.AspNetCore.Identity
@using Estoque.Lib.Resources
@using Microsoft.Extensions.Localization
@inject UserManager<ApplicationUser> UserManager
@inject IStringLocalizer<EstoqueResources> Localizer

@{
    ViewBag.Title = Localizer["Home"];
}

@functions {

    private async Task<string> GetUserFirstName()
    {
        var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
        var user = await UserManager.FindByIdAsync(userId!);
        return user?.FirstName ?? Localizer["User"];
    }

}

@{
    var name = await GetUserFirstName();
    var hour = LocalTime.Now().Hour;

    var greeting = hour switch
    {
        >= 6 and < 12 => Localizer["GoodDay"],
        >= 12 and < 18 => Localizer["GoodAfternoon"],
        _ => Localizer["GoodNight"]
    };
}

<div class="container mt-5">
    <!-- Saudação -->
    <div class="row mb-4">
        <div class="col">
            <h2 class="text-primary">@greeting, @name.</h2>
        </div>
        <span class="fw-light overflow-hidden">
            @Localizer["Welcome"]
            <span class="typed-text fw-bold" data-typed-text='["Vip Penha Estoque", "@Localizer["LatestNews"]"]'></span>
        </span>
    </div>

    <!-- Gráficos em cards e colunas -->
    <div class="row">
        <div class="col-sm-12 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <canvas id="estoqueChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <div>
                            <h5 class="mb-3">@Localizer["ProductsByCategory"]</h5>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center p-1">
                        <canvas id="pizzaChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <div>
                            <h5 class="mb-3">@Localizer["MonthlyStockEvolution"]</h5>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center p-1">
                        <canvas id="estoqueMensalChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const textTranslated = {
        entries: "@Localizer["Entries"]",
        exits: "@Localizer["Exits"]",
        totalStock: "@Localizer["TotalStock"]",
        units: "@Localizer["Units"]"
    };
</script>

<script src="~/js/dashboards.js" asp-append-version="true"></script>
